{{ "<!-- SERVICES -->" | safeHTML }}
<section id="sites" class="bg-dark">
    {{ with .Site.Params.sites.headline }}
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">{{ . }}</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
    {{ end }}
    <div class="container">
        <div class="row center">
            {{ range .Site.Params.sites.list }}
            <div class="col-lg-3 col-md-6 text-center">
                <div class="sites-box">
                    <i class="fa fa-4x {{ .icon }} wow bounceIn text-primary"></i>
                    <h3><a href="{{ .link }}" class="btn btn-default btn-xl wow tada">{{ .title }}</a></h3>
                    {{ with .description }}
                        <p class="text-muted">{{ . }}</p>
                    {{ end }}
                </div>
            </div>
            {{ end }}
        </div>
    </div>
</section>
